@import '../../../index.css';

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
}

.header_img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 25px 65px 0px var(--nav-shadow);
    margin-bottom: 40px;
}

.header_title {
    font-family: "EB Garamond", sans-serif;
    font-size: 4.375rem;
    line-height: 4.375rem;
    color: var(--primary-blue);
}

.row {
    min-width: 192px;
}

.header_textContainer {
    text-align: left;
    max-width: 960px;
}

.header_text{
    line-height: 1.5rem;
    font-size: 17px;
    font-family: "Be Vietnam", sans-serif;
    color: var(--primary-black);
}

.header_text span {
    color: var(--primary-blue)
}

.header_checkIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
    background-color: var(--header-checkIcon-bg);
}

@media  screen and (max-width:992px){
    header{
        align-items: center;
    }

    .header_userInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_title{
        text-align: center;
    }
}

@media screen and (max-width:464px){
    .header_title{
        font-size: 32px;
        line-height: 32px;
    }
}