.navMobile {
    width: 100%;
    padding: 25px;
    visibility: hidden;
    transition: background 0s;
    position: sticky;
    top: -1px;
}

#menu {
    position: fixed;
    left: -100vw;
    transition: all 0.5s, background 0s;
}

.menu-ative {
    left: 50% !important;
    transform: translateX(-50%);
    transition: all 0.5s, background 0s;
}

.navMobile img {
    width: 30px;
    height: 30px;
    position: sticky;
    top: 25px;
}

.navMobile_links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 25px;
}

.navMobile_links-group a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-blue);
}

.navMobile_actions-imgs {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.navMobile_actions-imgs img {
    transition: transform .2s;
}

.navMobile_actions-imgs img:hover {
    transform: scale(1.5);
}